body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.part-1, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

button, .content-4 {
    background-color: #3882F6;
    color: #F9FAF8;
}

/* part 1 styles */

.part-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem 18% 120px 18%;
}

header, .header-links, .main-1, .main-1-text {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    gap: 32px;   
}

.header-links a {
    font-size: 1rem;
    color: #E5E7EB;
    text-decoration: none;
}

.main-1 {
    gap: 60px;
    align-items: flex-start;
    margin-top: 100px;
}

.main-1 img {
    width: 500px;
    object-fit: contain;
    border: solid #F9FAF8;
    border-radius: 15px;
}

.main-1-text{
    flex-direction: column;
}

.main-1-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.main-1-text p {
    font-size: 1rem;
    color: #E5E7EB;
    margin: 0;
}

.main-1-text button {
    margin-top: 12px;
    width: 130px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    border: none 10px;
    border-radius: 10px;
}

/* part 2 styles */

.part-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 114px
}

.part-2 span {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images-2 {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.image-container img {
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-radius: 15px;
}

/* part 3 styles */

.part-3 {
    background-color: #E5E7EB;
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
}

.part-3 span {
    text-align: end;
    font-size: 22px;
    margin-right: 32px;
    color: #1F2937;
}

blockquote {
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
}

/* part 4 styles */

.part-4 {
    padding: 5% 15%;
}

.content-4{
    font-size: 14px;
}

.content-4 {
    padding: 40px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-4 {
    padding: 0px 25px;
    border: solid #F9FAF8 2px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
}

.text-4-title {
    font-size: 19px;
    font-weight: 700;
}

/* footer styles */

footer {
    text-align: center;
    padding: 40px
}